<%= render "shared/header" %>

<div class="main">
  <div class="top-image">
    <%= image_tag("ballpark.png", class: "ballpark-img") %>
    <div class="image-text">
      MLBをより身近に
    </div>
  </div>
  <div class="main-contents">
    <div class="articles-headline">
      投稿記事一覧
      <i class="fa-solid fa-newspaper"></i>
    </div>
    <%= render partial: "shared/article", collection: @articles %>
  </div>
</div>

<%= render "shared/footer" %>